
<!-- left area -->  
<div class='container'>
  <app-todo-side-bar [selectDate]="selectDate" [schedule]="getSelectDaySchedule()" (deletScheduleItemOutput)="deleteSchedule($event)" (addScheduleItemOutput)="addSchedule($event)"></app-todo-side-bar>
  <div>
    <div class='calendar'>
      <!-- month change -->
      <div class='month_switch'>
        <input type="button" name="" value="＜" (click)="preMonth()">
        <div class="month_switch_text"> {{ calendarMonth.toFormat('yyyy-MM') }} </div>
        <input type="button" name="" value="＞" (click)="nextMonth()"> 
      </div>
      <!-- week header -->
      <div *ngFor="let weekName of weekNames" [class]="{'week':true ,'weeknormalday': isWeekNormalDay(weekName), 'weekholiday': !isWeekNormalDay(weekName)}"> {{ weekName }} </div>
      <!-- day component -->
      <app-date-grid *ngFor="let dayObj of getCalendar() " [day]="dayObj" (changeSelectDateOutPut)="changeSelectDate($event)"></app-date-grid>
    </div>
  </div>
</div>
